<mat-card class="comment-card">
  <mat-card-content class="comment-card-content">
    <form [formGroup]="form" class="form-group">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [formControlName]="formConstants.title">
            <mat-error *ngIf="isTitleAlreadyUsed()">
                Title is already in use
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tell your story...</mat-label>
            <textarea matInput [mat-autosize]="true" [formControlName]="formConstants.content"></textarea>
        </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
