<mat-card [ngStyle]="{'border-top-color': topColor}"  class="main-card">
  <img mat-card-image src="{{imagePath}}">
  <mat-card-title>{{guestbookEntryPass.author}}</mat-card-title>
  <mat-card-content>
    <p>{{guestbookEntryPass.messagePreview}}</p>
    <img class="trash-icon" src="../assets/trash-icon.svg" height="24px" [matMenuTriggerFor]="dropDown" (click)="$event.stopPropagation()">
    <mat-menu #dropDown="matMenu" xPosition="before">
      <div class="dropdown">
        <p>Do you really want to delete this entry?</p>
         <button mat-raised-button color="warn" (click)="deleteEntry()">Delete permanently</button>
      </div>
    </mat-menu>
  </mat-card-content>
</mat-card>
