@use "src/styles/util";
$padding-card: 20px;
$border-radius-card: 10px;

@mixin card-border-radius-and-shadow {
  border-radius: $border-radius-card;
  box-shadow: 7px 7px 18px 2px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.common-layout{
  padding-top: 50px;
  display: grid;
  grid-template-columns:10% 80% 10%;
  grid-column-gap: 10px;

  .side-bar {
    grid-column-start: 1;
    grid-column-end: 2;
    //display: flex;
    justify-content: center;
    padding-top: 20px;
    display: grid;
    grid-template-rows: 80px;
  }

  .content {
    grid-column-start: 2;
    grid-column-end: 3;

    .single-center-card{
      @include util.small-up {
        padding-left: 10%;
        padding-right: 10%;
      }
      @include util.medium-up {
        padding-left: 20%;
        padding-right: 20%;
      }
      @include util.large-up {
        padding-left: 30%;
        padding-right: 30%;
      }
    }

  }
}

.mat-card {
  @include card-border-radius-and-shadow;

  .mat-card-title{
    padding-top: $padding-card;
    padding-left: $padding-card;
    padding-right: $padding-card;
  }

  .mat-card-content {
    padding-left: $padding-card;
    padding-right: $padding-card;
  }
}

.main-card {
  margin-bottom: 40px;

  .mat-card-content {
    display: flex;
    justify-content: space-between;
  }
}

.comment-card{
  margin-bottom: 10px;

  .mat-card-content {
    display: flex;
    flex-direction: column;
  }
}

.form-group{
  display: flex;
  flex-direction: column;
}


