@use '~src/app/shared/shared.scss';

//.content {
//  padding-top: 50px;
//  padding-left: 200px;
//  padding-right: 200px;
//}

div {
  cursor: pointer;
}

.add-button{
  background-color: #2196F3;
  font-size: xx-large;
}
