@use 'src/styles/shared';
@use 'src/styles/util';


.card-holder {
  display: grid;
  justify-content: space-between;
  @include util.small-up {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  @include util.medium-up {
    grid-template-columns: repeat(auto-fill, 49%);
  }
  @include util.large-up {
    grid-template-columns: repeat(auto-fill, 24%);
  }
}

.single-card{
  cursor: pointer;
}

.button-above-group {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 80px;
  margin-bottom: 20px;
}

.add-button{
  background-color: #2196F3;
}

