<div class="common-layout">
  <div class="side-bar">
    <button mat-fab class="add-button"[routerLink]="'/newEntry'">
      <img src="assets/post-add-icon.svg">
    </button>
    <button mat-fab class="add-button"[routerLink]="'/userList'">
      <img src="assets/users-icon.svg">
    </button>
  </div>

  <div class="content">
    <div class="card-holder">
        <div class="single-card" *ngFor="let guestbookEntry of guestbookEntries" [routerLink]="'/detail/' + guestbookEntry.id">
            <app-guestbook-tile (entryDeleted)='ngOnInit()' [guestbookEntryPass]="guestbookEntry" [detailIdPass]="guestbookEntry.id + ''"></app-guestbook-tile>
        </div>
    </div>
  </div>
</div>



