<mat-card class="comment-card">
  <mat-card-content class="comment-card-content">
      <form [formGroup]="form" class="form-group">
          <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput [formControlName]="formConstants.author">
                  <mat-error i18n class="error-msg" *ngIf="authorForm.invalid">This field requires at least 3 characters.</mat-error>
          </mat-form-field>
          <mat-form-field>
              <mat-label i18n>Comment</mat-label>
              <textarea matInput [mat-autosize]="true" [formControlName]="formConstants.comment"></textarea>
                <mat-error i18n class="error-msg" *ngIf="authorForm.invalid">This field requires at least 15 characters.</mat-error>
          </mat-form-field>
      </form>
      <button i18n mat-stroked-button (click)="publishComment()" [disabled]="form.invalid">Post</button>
  </mat-card-content>
</mat-card>
